.cashdesk-products-listing .product .cashdesk-product-image{
	height: auto !important;
}
.cashdesk-products-listing .product{
	margin: 2px 0;
	display: inline-table;
}
.cashdesk-product-description{
	width: 100%;
	height: 60px;
}
.cashdesk-product-image{
	padding: 1px 0;	
	width: 100%;
}
.cashdesk-product-image img{
	width: auto;
}
